/* Set height of body and the document to 100% to enable "full page tabs" */
body {
    margin: 0;
  }

.f1 {
  font-family: 'ADLaM Display';font-size: 30px;
}
.glow {
  color: #252020;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9306, 0 0 40px #ff9306, 0 0 50px #ff9306, 0 0 60px #ff9306, 0 0 70px #ff9306;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ebaf5d, 0 0 40px #ebaf5d, 0 0 50px #ebaf5d, 0 0 60px #ebaf5d, 0 0 70px #ebaf5d, 0 0 80px #ebaf5d;
  }
}


.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: rgb(255, 255, 255);
}
  




  /* Style the header */
  .header {
    background-color: #f9f2ec;
    padding: 40px;
    text-align: center;
  }
 

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 200px 20px;
    height: 1500px;
  }
  
  #Home {background-color: #d2a679;}
  #News {background-color:  #bf8040;}
  #Contact {background-color: #d2a679;}
  #About {background-color:  #bf8040;}




  * {box-sizing: border-box}
.mySlides1 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
  }




  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 50px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(255, 255, 255);
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 9px #e5b243;
  }
  
  .button:hover {
    background-color: #555;
  }


  .button:active {
    background-color: #555;
    box-shadow: 0 5px #ae6060;
    transform: translateY(4px);
  }


  .img11 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .h2 {
text-align: center;
  }

  h2 {
    text-align: center; 
  }
  
  .p2 {
    text-align: center; 
  }

  